.tituloNovedades {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(165, 42, 42, 0.7);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.novedadesSteam {
    .tablaUno {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: rgb(255, 255, 255);
        table {
            width: 30%;
            margin: 5px;
            padding: 5px;
            border: 2px solid brown;
        }
    }
}